/*
Colors
Warm Gray: #D9D3CF
Light Gray: #F2ECE8
Copper: #B87333
Dark Copper: #915F1C
Deepest Brown: #5D3909
*/
/* fonts */
@font-face {
  font-family: "Sathu";
  src: url("../fonts/Sathu.ttf") format('truetype');
}

@font-face {
  font-family: "New York";
  src: url("../fonts/NewYork.ttf") format('truetype');
}

@font-face {
  font-family: "Charter-Roman";
  src: url("../fonts/Charter-Roman.ttf") format('truetype');
}

@font-face {
  font-family: "Charter-Bold";
  src: url("../fonts/Charter-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Galvji";
  src: url("../fonts/Galvji.ttf") format('truetype');
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("../fonts/SukhumvitSet.ttf") format('truetype');
}

@font-face {
  font-family: "SukhumvitSet-Bold";
  src: url("../fonts/SukhumvitSet-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Optima";
  src: url("../fonts/Optima.ttf") format('truetype');
}

@font-face {
  font-family: "OptimaBold";
  src: url("../fonts/Optima-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Tahoma";
  src: url("../fonts/Tahoma.ttf") format('truetype');
}

@font-face {
  font-family: "Zapfino";
  src: url("../fonts/Zapfino.ttf") format('truetype');
}

/* general styling */
* {
  box-sizing: border-box;
}

/* typography */
body {
  font-family: 'Sathu', sans-serif;
  line-height: 1.5em;
  font-size: 16;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-family: 'New York', serif;
  display: inline-block;
  line-height: 1em;
  width: 100%;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-weight: 450;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 500;
}

span {
  font-family: 'New York', serif;
  line-height: 1.25em;
  font-size: 1.5em;
  font-weight: 300;
}

blockquote {
  font-family: 'New York', serif;
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  border: 1px solid #CB9500;
  margin: auto;
  padding: 50px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.labels {
  font-size: .75em;
  text-align: center;
}

.left {
  text-align: left;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.topcorrect {
  margin-top: 0px;
  margin-bottom: 24px;
}

/* imagery */
img {
  max-width: 100%;
}

/* links and buttons */
a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #915F1C;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #5D3909;
}

.button, .button:visited {
  display: inline-block;
  background-color: transparent;
  color: #B87333;
  font-weight: 400;
  padding: 10px 26px;
  border-radius: 4px;
  border: 2px solid #B87333;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover, .button:focus, .button:active {
  display: inline-block;
  background-color: #B87333;
  color: #FFFFFF;
  border: 2px solid #915F1C;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
}

.inlinelink {
  color: #B87333;
  text-decoration: none;
}

.hometown-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* header and footer */
header {
  background-color: #D9D3CF;
  padding: 12px 0 0;
  margin: 0 auto;
  position: fixed;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 1px 5px 0px #915F1C;
  z-index: 10;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle {
  position: relative;
}

.navtoggle li .menuicon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 12px 0 0;
}

.navtoggle.responsive li {
  display: block;
  text-align: right;
  padding: 10px 0;
  border-top: 1px solid #915F1C;
}

.navtoggle.responsive li:last-child {
  padding: 0;
}

.banner {
  background-color: #F2ECE8;
}

#welcome, #contact {
  padding: 12px 0;
  text-align: center;
  display: inline-block;
  width: 100%
}

/* general layout */
main {
  padding-top: 52px;
}

.container {
  padding: 0 12px;
}

.inset {
  background-color: white
}

.section {
  margin: 100px 0;
}

.row {
  margin: 60px 0;
}

.subsection {
  margin: 48px 0;
}

.subrow {
  margin: 24px 0;
}

.logo {
  display: inline-block;
}

.icon {
  margin: 6px;
}

.iconinner {
  display: flex;
  justify-content: center;
}

.social {
  display: inline-block;
  float: left;
  padding: 0px 12px
}

.justify {
  display: flex;
  justify-content: center;
}

/* table styles */
tr:nth-child(even) {
  background-color: #F6F7E9;
}

th {
  padding: 24px;
  text-align-last: left;
}

td {
  padding: 15px 12px;
  text-align: left;
}

.iconography, #iconography {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  top: 20px;
}

#papermock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* about page styles */
.circle {
  border-radius: 50%;
}

.toolic {
  width: 90px;
  display: inline-block;
}

#about>ul>li {
  display: inline-block;
  padding: 10px 24px 0;
}

#about>ul {
  list-style-type: none;
  padding: 0;
}

#about h2 {
  text-align: center;
}

/* contact styles */
.soc-ic {
  width: 20%;
  float: left;
}

.soc-text {
  width: 80%;
  float: left;
}

/* changes styles */
.money {
  font-style: italic;
  text-align: center;
}

.userstory {
  display: inline-block;
  margin: 0 10px 20px;
  padding: 0 20px;
  height: 100%;
}

.color-circle {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  position: relative;
}

.colortext {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: .75em;
  text-align: center;
}

.gray {
  background-color: #D9D3CF;
  padding: 24px 32px 24px 24px;
}

.stretchbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#aboutchanges {
  background-color: #FFFFFF;
  border: 1px solid #896500;
  padding: 12px;
  margin-bottom: 40px;
  text-align: center;
}

#changesuxmock {
  float: right;
  max-width: 1020px;
}

#changesprototype {
  display: flex;
  justify-content: center;
}

/* 80 meals styles */
.mealsblock {
  background-color: rgba(230, 183, 0, 0.4);
  border-radius: 40px;
}

.papermock {
  padding: 10px;
}

.mealsuisec {
  display: inline-block;
  float: left;
  margin-right: 30px;
}

.mealsuititle {
  display: inline-block;
  text-align: left;
}

.balloon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#abtest+.col-sm-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mealsconclusion {
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
}

/* space imagined styles */
.sih2 {
  display: inline-block;
  border-bottom: 4px solid #C8C8C8;
}

.simock {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.siwireframe {
  padding: 6px;
  float: left;
  width: 48%;
  margin: 16px 1% 0;
  background-color: #ECE3CB;
  display: flex;
  justify-content: center;
}

.siwiretext {
  padding: 6px;
  float: left;
  width: 48%;
  margin: 0 1%;
}

/* quicknotes styles */
.colorblock1, .colorblock2, .colorblock3, .colorblock4, .colorblock5 {
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.colorblock1 {
  max-width: 70%;
}

.colorblock2 {
  max-width: 55%;
}

.colorblock3 {
  max-width: 40%;
}

.colorblock4 {
  max-width: 25%;
}

.colorblock5 {
  max-width: 12%;
}

#projects {
  padding-top: 20px;
}

/* bujo styles */
.bujostructure {
  background-image: url(img/bulletjournal/user_flow_diagram.png);
}

.color-blob {
  width: 100%;
  padding-top: 100%;
  border-radius: 20%;
  border: 1px solid black;
}

/* all purpose columns and floats */
.col-2, .col-3, .col-5, .col-6 {
  float: left;
  padding-right: 6px;
  padding-left: 6px;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33%;
}

.col-6 {
  width: 66%;
}

#about+.col-3 {
  max-width: 90px;
}

.flexrow {
  overflow: hidden;
}

.flexcol {
  float: left;
  padding-bottom: 100%;
  margin-bottom: -100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 2%;
}

.row::after, .subrow::after, .section::after, .subsection::after {
  content: "";
  clear: both;
  display: table;
}

/* media queries */
@media (max-width: 639px) {
  #fallin-coins-invert {
    display: none;
  }

  .col-sm-1 {
    width: 100%;
    margin-bottom: 40px;
  }

  .col-sm-2 {
    width: 50%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 20px;
  }

  .col-sm-3 {
    width: 33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 20px;
  }

  .uxresults1, .uxresults2, .uxresults3, .uxresults4 {
    margin: 20px auto;
  }
}

@media only screen and (min-width: 640px) {
  nav {
    width: auto;
    float: right;
  }

  nav>ul>li {
    display: inline-block;
    padding: 10px 24px 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 78px;
  }

  #about h4 {
    margin-top: 0;
  }

  #aboutchanges {
    width: 45%;
    margin-right: 5%;
  }

  .shifttext {
    text-align: center;
  }

  .container {
    padding: 0 20px;
  }

  [class*="col-"] {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-md-1 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .col-md-2 {
    width: 33%;
  }

  .col-md-4 {
    width: 67%;
  }

  .flexcol {
    width: 48%
  }

  .col-md-6, .mealsconclusion {
    width: 50%;
  }

  .col-md-5 {
    width: 20%;
  }

  .col-right {
    float: right
  }

  .grid4 {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
  }

  .uxresults1 {
    grid-area: 1 / 1 / span 2 / 1;
  }

  .uxresults2 {
    grid-area: 1 / 2 / 1 / 2;
  }

  .uxresults3 {
    grid-area: 3 / 1 / 3 / 1;
  }

  .uxresults4 {
    grid-area: 2 / 2 / span 2 / 2;
  }

  .sifinal2 {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .logo {
    padding-top: 24px;
  }
}

@media (max-width: 1023px) {
  #robert, #alyssa {
    margin-top: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 0 100px;
  }

  [class*="col-lg-"] {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-4 {
    width: 67%;
  }

  .col-lg-2 {
    width: 33%;
  }

  .hide-2 {
    margin-left: 33%;
  }

  #sihero {
    text-align: left;
  }

  .sifinal3 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  .sistructure {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 2%
  }

  .sis1 {
    grid-area: 1/1
  }

  .sis2 {
    grid-area: 2/1
  }

  .sis3 {
    grid-area: 3/1
  }

  .sis4 {
    grid-area: 4/1
  }

  .sis5 {
    grid-area: 1/2
  }

  .sis6 {
    grid-area: 2/2
  }

  .sis7 {
    grid-area: 3/2
  }

  .sis8 {
    grid-area: 4/2
  }

  .offtype {
    margin-top: 8px;
  }

  #about h1, #about h2 {
    text-align: left;
    padding-left: 35%;
  }

  #robert {
    position: relative;
    top: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}
