/*
Colors
Warm Gray: #D9D3CF
Copper: #B87333
Dark Copper: #915F1C
*/
/* fonts */
@font-face {
  font-family: "Sathu";
  src: url("../fonts/Sathu.ttf") format('truetype');
}

@font-face {
  font-family: "New York";
  src: url("../fonts/NewYork.ttf") format('truetype');
}

@font-face {
  font-family: "Charter Roman";
  src: url("../fonts/Charter-Roman.ttf") format('truetype');
}

@font-face {
  font-family: "Charter Bold";
  src: url("../fonts/Charter-Bold.ttf") format('truetype');
}

@font-face {
  font-family: "Galvji";
  src: url("../fonts/Galvji.ttf") format('truetype');
}

@font-face {
  font-family: "SukhumvitSet";
  src: url("../fonts/SukhumvitSet.ttf") format('truetype');
}

@font-face {
  font-family: "SukhumvitSet-Bold";
  src: url("../fonts/SukhumvitSet-Bold.ttf") format('truetype');
}

/* general styling */
* {
  box-sizing: border-box;
}

/* typography */
body {
  font-family: 'Sathu', sans-serif;
  line-height: 1.5em;
  font-size: 16;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-family: 'New York', serif;
  display: inline-block;
  line-height: 1em;
  width: 100%;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-weight: 450;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 500;
}

span {
  font-family: 'New York', serif;
  line-height: 1.25em;
  font-size: 1.5em;
  font-weight: 300;
}

blockquote {
  font-family: 'New York', serif;
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  border: 1px solid #CB9500;
  margin: auto;
  padding: 50px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.labels {
  font-size: .75em;
  text-align: center;
}

.sih2 {
  border-bottom: 4px solid #C8C8C8;
}

.left {
  text-align: left;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

/* imagery */
img {
  max-width: 100%;
}

.simock {
  max-height: 547px;
  display: inline-block;
  padding: 12px;
}

/* links and buttons */
a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #915F1C;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #000000;
  text-decoration: underline;
}

.button, .button:visited {
  display: inline-block;
  background-color: transparent;
  color: #B87333;
  font-weight: 400;
  padding: 10px 26px;
  border-radius: 4px;
  border: 2px solid #B87333;
  transition: 0.2s opacity;
}

.button:hover, .button:focus, .button:active {
  display: inline-block;
  background-color: #B87333;
  color: #FFFFFF;
  border: 2px solid #915F1C;
  text-decoration: none;
}

.inlinelink {
  color: #B87333;
  text-decoration: none;
}

/* header and footer */
header {
  background-color: #D9D3CF;
  padding: 12px 0 0;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 2px 2px 0px #D7CDC6;
  z-index: 10;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
  padding: 10px 24px 0;
}

.banner {
  background-color: #D9D3CF;
}

#welcome, #contact {
  padding: 12px 0;
  text-align: center;
  display: inline-block;
  width: 100%
}

/* general layout */
main {
  padding-top: 102px;
}

.container {
  padding: 0 12px;
}

.section {
  margin: 100px 0;
}

.row {
  margin: 60px 0;
}

.subsection {
  margin: 48px 0;
}

.subrow {
  margin: 24px 0;
}

.logo {
  display: inline-block;
}

.icon {
  margin: 6px;
}

.social {
  display: inline-block;
  padding: 20px 12px
}

/* table styles */

tr:nth-child(even) {
  background-color: #F6F7E9;
}

th {
  padding: 24px;
  text-align-last: left;
}

td {
  padding: 15px 12px;
  text-align: left;
}

#iconography {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  top: 20px;
}

#papermock{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* about page styles */

.circle {
  border-radius: 50%;
}

.toolic {
  width: 90px;
  display: inline-block;
}

#about>ul>li {
  display: inline-block;
  padding: 10px 24px 0;
}

#about>ul {
  list-style-type: none;
  padding: 0;
}

#about h2 {
  text-align: center;
}

/* changes styles */

.money {
  font-style: italic;
  text-align: center;
}

.userstory {
  display: inline-block;
  margin: 0 10px 20px;
  padding: 0 20px;
  height: 100%;
}

.color-circle {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  position: relative;
}

.colortext {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: .75em;
  text-align: center;
}

.uxresults1, .uxresults4 {
  background-color: #DBDBDB;
  padding: 24px 32px 24px 24px;
}

#aboutchanges {
  background-color: #FFFFFF;
  border: 1px solid #896500;
  padding: 12px;
  margin-bottom: 40px;
  text-align: center;
}

#changesuxmock {
  float: right;
  max-width: 1020px;
}

#changesprototype {
  display: flex;
  justify-content: center;
}

/* 80 meals styles */

.mealsblock {
  background-color: rgba(230, 183, 0, 0.4);
  border-radius: 40px;
}

.papermock {
  padding: 10px;
}

.mealsuisec {
  display: inline-block;
  float: left;
  margin-right: 30px;
}

.mealsuititle {
  display: inline-block;
  text-align: left;
}

.balloon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#abtest + .col-sm-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mealsconclusion {
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
}

/* quicknotes styles */

.colorblock1, .colorblock2, .colorblock3, .colorblock4, .colorblock5 {
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.colorblock1 {
  max-width: 70%;
}

.colorblock2 {
  max-width: 55%;
}

.colorblock3 {
  max-width: 40%;
}

.colorblock4 {
  max-width: 25%;
}

.colorblock5 {
  max-width: 12%;
}

#projects {
  padding-top: 20px;
}

/* all purpose columns and floats */

.col-bujo {
  width: 165px;
}

.col-2, .col-3, .col-5, .col-6 {
  float: left;
  padding-right: 6px;
  padding-left: 6px;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33%;
}

.col-6 {
  width: 66%;
}

#about+.col-3 {
  max-width: 90px;
}

.flexrow {
  overflow: hidden;
}

.flexcol {
  float: left;
  padding-bottom: 100%;
  margin-bottom: -100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 2%;
}

.row::after, .subrow::after, .section::after {
  content: "";
  clear: both;
  display: table;
}

/* media queries */

@media (max-width: 639px) {
  #fallin-coins-invert {
    display: none;
  }

  .col-sm-2 {
    width: 50%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 20px;
  }

  .col-sm-3 {
    width: 33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 20px;
  }

  .uxresults1, .uxresults2, .uxresults3, .uxresults4 {
    margin: 20px auto;
  }
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  nav {
    width: auto;
    float: right;
  }

  main {
    padding-top: 78px;
  }

  #about h4 {
    margin-top: 0;
  }

  #aboutchanges {
    width: 45%;
    margin-right: 5%;
  }

  .container {
    padding: 0 20px;
  }

  [class*="col-"] {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-md-1 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .col-md-2 {
    width: 33%;
  }

  .col-md-4 {
    width: 67%;
  }

  .flexcol {
    width: 48%
  }

  .col-md-6, .mealsconclusion {
    width: 50%;
  }

  .col-md-5 {
    width: 20%;
  }

  .grid4 {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
  }

  .uxresults1 {
    grid-area: 1 / 1 / span 2 / 1;
  }

  .uxresults2 {
    grid-area: 1 / 2 / 1 / 2;
  }

  .uxresults3 {
    grid-area: 3 / 1 / 3 / 1;
  }

  .uxresults4 {
    grid-area: 2 / 2 / span 2 / 2;
  }

  .logo {
    padding-top: 24px;
  }
}

@media (max-width: 1023px) {
  #robert, #alyssa {
    margin-top: 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    padding: 0 100px;
  }

  [class*="col-lg-"] {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-4 {
    width: 67%;
  }

  .col-lg-2 {
    width: 33%;
  }

  .hide-2 {
    margin-left: 33%;
  }

  #about h1, #about h2 {
    text-align: left;
    padding-left: 35%;
  }

  #robert {
    position: relative;
    top: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
}
