/*
Colors
Warm Gray: #D9D3CF
Copper: #B87333
Dark Copper: #915F1C
*/

/* fonts */

@font-face {
  font-family: "Sathu";
  src: url("../fonts/Sathu.ttf") format('truetype');
}

@font-face {
  font-family: "New York";
  src: url("../fonts/NewYork.ttf") format('truetype');
}

/* styling */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Sathu', sans-serif;
  line-height: 1.5em;
  font-size: 15;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: 'New York', serif;
  line-height: 1em;
  width: 100%;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-weight: 450;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

.labels {
  font-size: .75em;
  text-align: center;
}

img {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

header {
  background-color: #D9D3CF;
  padding: 12px 0 0;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 2px 2px 0px #D7CDC6;
}

span {
  font-family: 'New York', serif;
  line-height: 1.25em;
  font-size: 1.5em;
  font-weight: 300;
}

a:visited {
  color: #915F1C;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #000000;
  text-decoration: underline;
}

.button, .button:visited{
  display: inline-block;
  background-color: transparent;
  color: #B87333;
  font-weight: 400;
  padding: 10px 26px;
  border-radius: 4px;
  border: 2px solid #B87333;
  transition: 0.2s opacity;
}

.button:hover, .button:focus, .button:active{
  display: inline-block;
  background-color: #B87333;
  color: #FFFFFF;
  border: 2px solid #915F1C;
  text-decoration: none;
}

.banner {
  background-color: #D9D3CF;
}

/* layout */

main {
  padding-top: 102px;
}

.container {
  padding: 0 12px;
}

.row {
  margin: 32px 0;
}

.toolic {
  width: 90px;
  display: inline-block;
}

.thumb {
  display: inline-block;
  max-width: 760px;
}

.social {
  display: inline-block;
  padding: 20px 12px
}

.circle {
  border-radius: 50%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  padding: 10px 24px 0;
}

#home > h1, h2 {
  text-align: center;
}

#projects {
  padding-top: 20px;
}

#welcome, #contact {
  padding: 12px 0;
  text-align: center;
  display: inline-block;
  width: 100%
}
