/*
Colors
Warm Gray: #D9D3CF
Copper: #B87333
Dark Copper: #915F1C
*/

/* fonts */

@font-face {
  font-family: "Sathu";
  src: url("../fonts/Sathu.ttf") format('truetype');
}

@font-face {
  font-family: "New York";
  src: url("../fonts/NewYork.ttf") format('truetype');
}

/* general styling */

* {
  box-sizing: border-box;
}

/* typography */

body {
  font-family: 'Sathu', sans-serif;
  line-height: 1.5em;
  font-size: 16;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-family: 'New York', serif;
  display: inline-block;
  line-height: 1em;
  width: 100%;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-weight: 450;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 500;
}

span {
  font-family: 'New York', serif;
  line-height: 1.25em;
  font-size: 1.5em;
  font-weight: 300;
}

blockquote {
  font-family: 'New York', serif;
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  border: 1px solid #CB9500;
  margin: 40px auto;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.labels {
  font-size: .75em;
  text-align: center;
}

.sih2 {
  border-bottom: 4px solid #C8C8C8;
}

.left {
  text-align: left;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.money {
  color: #16585A;
 font-style: italic;
}

.mealsblock {
  background-color: rgba(230,183, 0, 0.4);
  border-radius: 40px;
}

.mealsuisec {
  display: inline-block;
  float: left;
  margin-right: 30px;
}

.mealsuititle {
  display: inline-block;
  text-align: left;
}

/* imagery, links, buttons */

img {
  width: 100%;
}

.background {
  position: absolute;
  z-index: -1;
}

.simock {
  max-height: 547px;
  display: inline-block;
  padding: 12px;
}

a {
  color: #000000;
  text-decoration: none;
}

header {
  background-color: #D9D3CF;
  padding: 12px 0 0;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  display: inline-block;
  width: 100%;
  box-shadow: 0px 2px 2px 0px #D7CDC6;
}

a:visited {
  color: #915F1C;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #000000;
  text-decoration: underline;
}

.button, .button:visited{
  display: inline-block;
  background-color: transparent;
  color: #B87333;
  font-weight: 400;
  padding: 10px 26px;
  border-radius: 4px;
  border: 2px solid #B87333;
  transition: 0.2s opacity;
}

.button:hover, .button:focus, .button:active{
  display: inline-block;
  background-color: #B87333;
  color: #FFFFFF;
  border: 2px solid #915F1C;
  text-decoration: none;
}

.inlinelink {
  color: #B87333;
  text-decoration: none;
}

.banner {
  background-color: #D9D3CF;
}

.papermock {
  max-width: 300px;
  float: left;
  padding: 12px;
}

/* table styles */

tr:nth-child(even) {background-color: #F6F7E9;}

th {
  padding: 24px;
  text-align-last: left;
}

td {
  padding: 15px 12px;
  text-align: left;
}

/* layout */

main {
  padding-top: 102px;
}

.container {
  padding: 0 12px;
}

.section {
  margin: 100px 0;
}

.row {
  margin: 60px 0;
}

.subsection {
  margin: 48px 0;
}

.subrow {
  margin: 24px 0;
}

.subrowicons {
  width: 200px;
}

.user1, .user2 {
  display: inline-block;
  max-width: 500px;
  margin: 0 auto 20px;
  padding: 0 20px;
}

.user1{
  background-color: #C7D6D3;
  float: left;
}

.user2 {
  background-color: #FFF3B6;
  float: right;
}

.uxtest1, .uxtest2 {
  width: 296px;
}

.uxtest1{
  float:left;
}

.uxtest2{
  float:right;
}

.uxresults {
  background-color: #DBDBDB;
  margin: 40px auto;
  padding: 24px 32px 24px 24px;
  height: 360px;
}

.toolic {
  width: 90px;
  display: inline-block;
}

.icon {
  display: inline-block;
  width: 40px;
  display: flex;
  justify-content: center;
  float: left;
  padding: 12px 0;
}

.iconsm {
  display: inline-block;
  width: 33.33px;
  display: flex;
  justify-content: center;
  float: left;
  padding: 12px 0;
}

.thumb {
  display: inline-block;
  max-width: 760px;
}

.social {
  display: inline-block;
  padding: 20px 12px
}

.circle {
  border-radius: 50%;
}

.colorblock1, .colorblock2, .colorblock3, .colorblock4, .colorblock5 {
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.colorblock1 {
  max-width: 70%;
}

.colorblock2 {
  max-width: 55%;
}

.colorblock3 {
  max-width: 40%;
}

.colorblock4 {
  max-width: 25%;
}

.colorblock5 {
  max-width: 12%;
}

.mealsab {
  display: inline-block;
  max-width: 425px;
  float: left;
  margin-right: 20px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

#about > ul > li {
  display: inline-block;
  padding: 10px 24px 0;
}

#about > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  padding: 10px 24px 0;
}

#home > h1, #home > h2 {
  text-align: center;
}

#projects {
  padding-top: 20px;
}

#welcome, #contact {
  padding: 12px 0;
  text-align: center;
  display: inline-block;
  width: 100%
}

#aboutchanges {
  display: inline-block;
  background-color: #FFFFFF;
  border: 1px solid #896500;
  padding: 12px;
  float: left;
}

#changesuxmock {
  float:right;
  max-width: 1020px;
}

#changesprototype {
  max-width: 400px;
}

#changesuxtest {
  max-width: 640px;
}

#mealsconclusion
{
  margin-left: 12px
}

/* floatrules */

.column{
  float: left;
}

.columnright{
  float: right;
}

.bujocolumn {
  float:left;
  width: 165px;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
